<ion-item>
  <ion-avatar item-left *ngIf="task?.avatar">
    <img [src]="task?.avatar">
  </ion-avatar>
  <ion-label>
    <button ion-button clear small outline>{{item?.title}}</button>
    <button ion-button clear small outline color="danger">{{item?.runner_money}}元</button>
    <button ion-button clear small (click)="toDetail(item)" color="dark" item-right icon-right>
      {{getStatusTitle(item.status)}}
      <ion-icon name="arrow-forward" color="dark"></ion-icon>
    </button>
  </ion-label>

</ion-item>
<ion-item class="mepo_item">
  <ion-icon color="dark" name="time" item-left></ion-icon>
  <ion-label *ngIf="item?.subscribe_type == 1">
    预约:{{item.subscribe_time}}
  </ion-label>
  <ion-label *ngIf="item?.subscribe_type == 0">立即开始</ion-label>
</ion-item>
<ion-item class="mepo_item">
  <ion-icon color="start" name="cloud-upload" item-left></ion-icon>
  <ion-label text-wrap>取货地址:{{item?.address}}</ion-label>
</ion-item>
<ion-item class="mepo_item">
  <ion-icon color="danger" name="cloud-download" item-left></ion-icon>
  <ion-label text-wrap>收货地址：{{item?.to_address}}</ion-label>
</ion-item>

<div *ngIf="isDetail">
  <ion-item class="mepo_item">
    <ion-icon color="gray" name="car" item-left></ion-icon>
    <ion-label *ngIf="item?.goods_weight">重量：{{item?.goods_weight > 0 ? item?.goods_weight+'公斤' : '未填写'}}</ion-label>
  </ion-item>
</div>


<ion-item class="mepo_item">
  <ion-icon color="gray" name="chatboxes" item-left></ion-icon>
  <ion-label text-wrap>备注信息:{{item?.note}}</ion-label>
  <button outline color="danger" *ngIf="item.status == 0" (click)="task.reciveTask(item)" ion-button item-right>立即接单</button>
</ion-item>

<ion-item class="optBtn" *ngIf="isDetail">
  <ion-buttons item-right>
    <!-- 0 -->
    <button ion-button outline small (click)="task.reciveTask(item)" [disabled]="!isDisable(0,item.status)">接单</button>
    <!-- 1 -->
    <button ion-button outline small (click)="taskDriver.step1(item)" [disabled]="!isDisable(1,item.status)">取货</button>
    <!-- 2 -->
    <button ion-button outline small (click)="taskDriver.step2(item)" [disabled]="!isDisable(2,item.status)">配送</button>
    <!-- 3 -->
    <button ion-button outline small (click)="taskDriver.step3(item)" [disabled]="!isDisable(3,item.status)">送达</button>
    <!-- 4 -->
    <!-- <button ion-button outline small disabled>用户确认并支付</button> -->
    <!-- 5 -->
    <button ion-button outline small disabled (click)="taskDriver.step4(item)" [disabled]="!isDisable(5,item.status)">评价</button>
  </ion-buttons>
</ion-item>

<ion-fab *ngIf="isDetail" top right #fab>
  <button ion-fab>
    导航
  </button>
  <ion-fab-list side="bottom">
    <button ion-fab color="primary" (click)="bmap.routerStart(item)">取货</button>
    <button ion-fab color="primary" (click)="bmap.routerEnd(item)">配送</button>
  </ion-fab-list>
</ion-fab>