$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$list-ios-margin-top: 0px;
$list-ios-margin-bottom: 10px;
$list-ios-margin-right: 0px;
$list-ios-margin-left: 0px;
$item-ios-body-text-font-size: 1.6rem;
$item-ios-paragraph-font-size: 1.2rem;
$item-ios-avatar-size: 22px;
$item-ios-thumbnail-size: 36px;

$item-ios-padding-top: 5px;
$item-ios-padding-bottom: 5px;

$item-ios-padding-left: 5px;
$item-ios-padding-right: 5px;
$item-ios-padding-icon-top: 5px;
$item-ios-padding-icon-bottom: 5px;
$font-size-base: 1.2rem;
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, start: #059664, light: #f4f4f4, dark: #222, transparent: transparent, gray: #a59f9f, );
$menu-width: 150px;
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
html,
body,
ion-app {
    background-color: transparent !important;
}

.item-block {
    min-height: 3.5rem !important;
}