page-setting {
    .empty {
        height: 200px;
        font-size: 20px;
        color: gray;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
